*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Alatsi', sans-serif;
    /* background-color: #EEE2DC; */

}
.navbar{
    padding: 15px;
    color:#f5f5f5;
    box-shadow: 1px 1px 3px 4px #A09AA4;

}
body{
    background-color: #f5f5f5;
}
img {
    width: 2em;
    height: 2em;
}
button{
    background-color: #368cbf ;
    margin: 10px;
}
.card-body{
    font-size: medium;
    padding:0.5rem;
}

p{
    padding:5px;
    padding-left:10px;
    margin-bottom: 0px;
    font-size: 1.2em;
}

h2{
    margin-bottom: 10px;
}

#searchHeader{
    padding-left:0;
}

#forecast{
    margin-top:5px;
} 
    
nav{
    color: #eaeaea;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    background: #33363b;
}

h1{
    justify-content: center;
}

.list-group-item{
    font-size: 1em;
}

.form-group{
    padding-bottom: 20px;
}

#left-panel{
    background-color:f5f5f5;
    /* #b2beb5 */

    padding: 20px;

}

#upperRightPanel{
    background-color:#D7DDE0;
        /* #E9DAD6; */
     /* #e2e5de; */
    font-size: 1.2em;
    box-shadow: 1px 1px 3px 4px #A09AA4;

}

#lowerRightPanel{
    background-color:#e0e0e0;
    box-shadow: 1px 1px 3px 4px #A09AA4;

}


.panel{
    /* border: 1px #33363b solid; */
    text-align: left;
    margin: 15px;
    justify-content: left;
    padding: 10px;
    border-radius:5px;
    /* box-shadow: 1px 1px 3px 4px #93747C; */

}

.panel-title{
    margin-top:auto;
}

.list-group{
    font-size: 1.2em;
}


.card{
    background-color: #368cbf ;;
    color: #eaeaea;
}

.card-deck{
    margin:20px 0px 5px 0px;
}

.btn{
    background: #368cbf ;
}


.list-group-item:hover{
    background-color: #A09AA4;
    color: #fff;

}

